<footer>
    <div class="container container-xl d-flex">
        <div class="navigation d-flex j-content-sa">
            <div class="network">
                <ul>
                    <li>bzx network</li>
                    <li><a href="#">how it works</a></li>
                    <li><a href="#">roadmap</a></li>
                    <li><a href="#">documentation</a></li>
                    <li><a href="#">litepaper</a></li>
                    <li><a href="#">blog</a></li>
                </ul>
            </div>
            <div class="products">
                <ul>
                    <li>products</li>

                    <li><a href="#">fulcrum</a></li>
                    <li><a href="#">torque</a></li>
                    <li><a href="#">itokens</a></li>
                    <li><a href="#">portal</a></li>
                </ul>
            </div>
            <div class="company">
                <ul>
                    <li>company</li>

                    <li><a href="#">about</a></li>
                    <li><a href="#">press</a></li>
                    <li><a href="#">media assets</a></li>
                    <li><a href="#">contac us</a></li>
                </ul>
            </div>
        </div>
        <div class="social-wrapper d-flex flex-d-c j-content-sb">
            <div class="social-icons">
                <a href="#" class="github">
                        {% include social-icons/github.svg %}
                </a>
                <a href="#" class="medium">
                        {% include social-icons/medium.svg %}
                </a>
                <a href="#" class="discord">
                        {% include social-icons/discord.svg %}
                </a>
                <a href="#" class="telegram">
                        {% include social-icons/telegram.svg %}
                </a>
                <a href="#" class="twitter">
                        {% include social-icons/twitter.svg %}
                </a>
            </div>
            <div class="disclaimer">
                © 2019 bZeroX, LLC
            </div>
        </div>
    </div>
</footer>
<script type="text/javascript" src="/assets/js/jquery.js "></script>
<script type="text/javascript" src="/assets/js/owl/owl.carousel.min.js "></script>
<script type="text/javascript" src="/assets/js/main.js "></script>