<footer>
    <div class="container container-xl d-flex">
        <div class="navigation d-flex j-content-sa fw-700 fs-12 lh-120 fs-sm-10 lh-sm-130">
            <div class="network">
                <ul>
                    <li>bzx protocol</li>
                    <li><a href="/#how-it-works">how it works</a></li>
                    <li><a href="https://docs.bzx.network/">documentation</a></li>
                    <li><a href="https://bzx.network/pdfs/bZx_lite_paper.pdf">litepaper</a></li>
                    <li><a href="/blog">blog</a></li>
                </ul>
            </div>
            <div class="products">
                <ul>
                    <li>products</li>

                    <li><a href="https://fulcrum.trade/">fulcrum</a></li>
                    <li><a href="https://torque.loans/">torque</a></li>
                    <li><a href="/itokens">itokens</a></li>
                    <li><a href="https://portal.bzx.network/">portal</a></li>
                </ul>
            </div>
            <div class="company">
                <ul>
                    <li>company</li>
                    <li><a href="/#history">history</a></li>
                    <li><a href="/#team">team</a></li>
                    <li><a href="/press">press</a></li>
                    <li><a href="/media-assets">media assets</a></li>
                    <li><a href="#" class="contact-us-button">contact us</a></li>
                </ul>
            </div>
        </div>
        <div class="social-wrapper d-flex flex-d-c j-content-sb">
            {% include social-icons.html%}
            <div class="disclaimer fs-12 lh-150 fs-sm-10 mb-20">
                © 2019 bZeroX, LLC
            </div>
        </div>
    </div>
</footer>
<script>

    window.intercomSettings = {
        app_id: "qijyre31",
        background_color: "#000085",
        action_color: "#000085"
    };
    function messenger(display) {
        //Insert sign out code here
        Intercom(display)
        return (true) //check to see if code was correctly copied
    }
</script>

<script>(function () { var w = window; var ic = w.Intercom; if (typeof ic === "function") { ic('reattach_activator'); ic('update', w.intercomSettings); } else { var d = document; var i = function () { i.c(arguments); }; i.q = []; i.c = function (args) { i.q.push(args); }; w.Intercom = i; var l = function () { var s = d.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = 'https://widget.intercom.io/widget/dfk4n5ut'; var x = d.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); }; if (w.attachEvent) { w.attachEvent('onload', l); } else { w.addEventListener('load', l, false); } } })();</script>

<script>
    window.onload = function () {
        $(".contact-us-button").on("click", function (e) {
            e.preventDefault();
            messenger("show");
        });

        $('.tooltip').tooltipster({
            theme: ['tooltipster-customized'],
            functionPosition: function (instance, helper, data) {
                var parent = $(helper.origin).closest(".item-team ");

                //if content wider than container - put in inside
                if (data.size.width > parent.width()) {
                    data.coord.left = parent.offset().left - 13
                    $(helper.tooltipClone).width(parent.width())
                    var diffTop = $(helper.tooltipClone).height() - data.size.height;
                    data.size.height = $(helper.tooltipClone).height();
                    data.size.width = parent.width()
                    data.coord.top -= diffTop;

                    return data;
                }

                //if content go out of the left boundary - shift it inside
                if (data.coord.left < parent.offset().left) {
                    data.coord.left = parent.offset().left - 13;

                    return data;
                }

                //if content go out of the right boundary - shift it inside
                if (data.coord.left + $(helper.tooltipClone).width() - (parent.offset().left + parent.width()) > 0) {
                    data.coord.left -= data.coord.left + $(helper.tooltipClone).width() - (parent.offset().left + parent.width()) - 13;

                    return data;
                }

                return data;
            }

        });
    };
</script>
<script type="text/javascript" src="/assets/js/jquery.js "></script>
<script type="text/javascript" src="/assets/js/tooltipster.bundle.min.js "></script>
<script type="text/javascript" src="/assets/js/owl/owl.carousel.min.js "></script>
<script type="text/javascript" src="/assets/js/main.js "></script>