<header class="py-16 nav-header">
    <div class="container container-xl">
        <div class="header-wrapper d-flex j-content-sb a-items-center">
            <div class="header-content-logo">
                <a href="{{ site.baseurl }}/" class="logo">
                    <img src="/images/logo.svg" alt="" />
                </a>
                <aside>
                    <img id="hamburger_menu_open" src="/images/icons/hamburger-closed.svg" />
                    <img id="hamburger_menu_close" src="/images/icons/hamburger-opened.svg" />
                </aside>
            </div>
            <div class="header-content-menu ">
                <ul class="menu-list d-flex">
                    <li class="menu-list-item">
                        <a href="#" class="link">
                            <span class="text">How it works</span>
                        </a>
                    </li>
                    <li class="menu-list-item">
                        <a href="#" class="link">
                            <span class="text">Developers</span>
                        </a>
                    </li>
                    <li class="menu-list-item">
                        <a href="#" class="link">
                            <span class="text">Faq</span>
                        </a>
                    </li>
                    <li class="menu-list-item">
                        <a href="#" class="link">
                            <span class="text">iTokens</span>
                        </a>
                    </li>
                    <li class="menu-list-item">
                        <a href="#" class="link">
                            <img src="/images/icons/vector.svg" alt="" />
                            <span class="text">Torque</span>
                        </a>
                    </li>
                    <li class="menu-list-item">
                        <a href="#" class="link">
                            <img src="/images/icons/vector.svg" alt="" />
                            <span class="text">Fulcrum</span>
                        </a>
                    </li>
                    <li class="menu-list-item">
                        <a href="#" class="link">
                            <span class="text">Blog</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
<script>
    //Add event handler with addEventListener (not window.onload)
    window.addEventListener('load', () => {
        $("#hamburger_menu_open").on('click', () => {
            $("#header").css("overflow", "visible")
            $(".header-content-menu").slideToggle("slow");
            $("#hamburger_menu_close").css('display', 'block')
            $("#hamburger_menu_open").css('display', 'none')
        })
        $("#hamburger_menu_close").on('click', () => {
            $(".header-content-menu").slideToggle("slow");
            $("#hamburger_menu_close").css('display', 'none')
            $("#hamburger_menu_open").css('display', 'block')
            $("#header").css("overflow", "hidden");
        })
    });
</script>