<header class="py-16 nav-header">
    <div class="container container-xl">
        <div class="header-wrapper d-flex j-content-sb a-items-center">
            <div class="header-content-logo">
                <a href="{{ site.baseurl }}/" class="logo">
                    <img class="lazyload" data-src="/images/logo.svg" alt="" />
                </a>
                <div class="burger-buttons">
                    <img class="lazyload" id="hamburger_menu_open" data-src="/images/icons/hamburger-closed.svg" />
                    <img class="lazyload" id="hamburger_menu_close" data-src="/images/icons/hamburger-opened.svg" />
                </div>
            </div>
            <div class="header-content-menu">
                <ul class="menu-list d-flex">
                    <li class="menu-list-item">
                        <a href="#" class="link">
                            <span class="text">How it works</span>
                        </a>
                    </li>
                    <li class="menu-list-item">
                        <a href="https://docs.bzx.network/" class="link">
                            <span class="text">Developers</span>
                        </a>
                    </li>
                    <li class="menu-list-item">
                        <a href="https://help.bzx.network/en/" class="link">
                            <span class="text">Help Center</span>
                        </a>
                    </li>
                    <li class="menu-list-item">
                        <a href="/itokens" class="link">
                            <span class="text">iTokens</span>
                        </a>
                    </li>
                    <li class="menu-list-item">
                        <a href="https://torque.loans/" class="link">
                            <img class="lazyload" data-src="/images/icons/vector.svg" alt="" />
                            <span class="text">Torque</span>
                        </a>
                    </li>
                    <li class="menu-list-item">
                        <a href="https://fulcrum.trade/" class="link">
                            <img class="lazyload" data-src="/images/icons/vector.svg" alt="" />
                            <span class="text">Fulcrum</span>
                        </a>
                    </li>
                    <li class="menu-list-item">
                        <a href="/blog" class="link">
                            <span class="text">Blog</span>
                        </a>
                    </li>
                </ul>
                <div class="social-wrapper d-flex flex-d-c j-content-sb">
                    {% include social-icons.html%}
                    <div class="disclaimer">
                        © 2019 bZeroX, LLC
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script>
        //Add event handler with addEventListener (not window.onload)
        window.addEventListener('load', () => {
            $("#hamburger_menu_open").on('click', (e) => {
                $("#hamburger_menu_close").show();
                $(e.currentTarget).hide();
                $(document.body).css('overflow', 'hidden');
                $(".header-content-menu").css('display', 'flex');
            })
            $("#hamburger_menu_close").on('click', (e) => {
                $(e.currentTarget).hide();
                $("#hamburger_menu_open").show();
                $(document.body).css('overflow', 'visible');
                $(".header-content-menu").css('display', 'none');

            })
        });

        // When the user scrolls the page, execute myFunction
        window.onscroll = function () { myFunction() };

        // Get the header
        var header = document.querySelector(".nav-header");

        // Get the offset position of the navbar
        var sticky = header.offsetTop;

        // Add the sticky class to the header when you reach its scroll position. Remove "sticky" when you leave the scroll position
        function myFunction() {
            if (window.pageYOffset > sticky) {
                header.classList.add("sticky");
            } else {
                header.classList.remove("sticky");
            }
        }
    </script>
</header>
