<div id="modal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close">
                {% include svg/close.svg%}
            </div>

            <div class="modal-header pt-30">

                <h2 class="fw-700 fs-32 fs-sm-24 ln-140 color-primary text-center mb-30">Subscribe to our mailing list</h2>
            </div>

            <div class="modal-body text-center">
                <form class="d-flex d-column">
                    <input class="fs-18 lh-180 mb-40 d-flex a-s-c" type="text" placeholder="Email Address"
                        name="email" />
                    <button class="mb-10 button button-secondary button-sm d-flex j-content-center a-s-c"
                        type="submit">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
</div>
