<div class="social-icons mb-sm-20">

    <a href="{{ site.data.social-icons.github.url}}" class="{{site.data.social-icons.github.name}}">
        {% include {{ site.data.social-icons.github.svg }} %}
    </a>
    <a href="{{ site.data.social-icons.medium.url}}" class="{{site.data.social-icons.medium.name}}">
        {% include {{ site.data.social-icons.medium.svg }} %}
    </a>
    <a href="{{ site.data.social-icons.discord.url}}" class="{{site.data.social-icons.discord.name}}">
        {% include {{ site.data.social-icons.discord.svg }} %}
    </a>
    <a href="{{ site.data.social-icons.telegram.url}}" class="{{site.data.social-icons.telegram.name}}">
        {% include {{ site.data.social-icons.telegram.svg }} %}
    </a>
    <a href="{{ site.data.social-icons.twitter.url}}" class="{{site.data.social-icons.twitter.name}}">
        {% include {{ site.data.social-icons.twitter.svg }} %}
    </a>

</div>