<section class="subscription">
    <div class="container container-xl">
        <div class="subscription-wrapper">
            <h2 class="fs-32 lh-140 fw-700 color-primary fs-lg-24 mb-sm-20">{{ include.content }}</h2>
            <button class="button button-secondary button-md d-flex j-content-center a-items-center">{{include.buttonText}}</button>
        </div>
    </div>
    <script>
        let selectorSubscription = document.querySelector(".subscription");
        let margin = (selectorSubscription.offsetHeight - 48) / 2;
        document.querySelector('.subscription').style.marginBottom = -margin + 'px';
        document.querySelector('.wrapper-subscription').style.marginTop = -margin + 'px';
    </script>
</section>
