@import "_variables";

body {
    font-family: $primary-font;
}

.bg-primary{
    background-color: $primary-color;
}
.bg-secondary{
    background-color: $secondary-bg;
    }
.bg-tertiary{
    background-color: $tertiary-bg;
}
.bg-wave{
    background-image: url(/images/icons/background.svg);
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: contain;
}

.z-index-2{
    z-index: 2;
}
a {
    text-decoration: none;
}
.mw-px-280{
    max-width: 280px;
}
.mw-px-400{
    max-width: 400px;
}
.w-33{
    width: 33%;
}
.mw-100{
    max-width: 100%;
}

.text-center {
    text-align: center;
}

.d-inline-block{
    display: inline-block;
}

.p-relative{
    position: relative;
}

.overflow{
    overflow: hidden;
}
.overflow-xl{
    @media(min-width: 1440px){
        overflow: hidden;
    }
}
.overflow-x-xl{
    @media(min-width: 1440px){
        overflow-x: hidden;
    }
}
@media(max-width: 991px){
    .mw-lg-px-400{
        max-width: 400px;
    }
}
@media(min-width: 580px){
    .visible-sm{
        display: none;
    }
}

@media(max-width: 579px){
    p{
        font-size: 12px;
    }
    .hidden-sm{
        display: none;
    }
    .mw-sm-px-400{
        max-width: 400px;
    }
    .mw-sm-px-260{
        max-width: 260px;
    }
    .mw-sm-px-100{
        max-width: 100px;
    }
    .h-sm-auto{
        height: auto;
    }
}