section.first-post article {
    @media screen and (max-width: 580px) {
        display: none;
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "cover cover content";
        grid-column-gap: 30px;
    }
    margin-bottom: 70px;
    margin-top: 50px;

    transition: 0.3s ease-in-out all;

    &:hover {
        box-shadow: 0px 8px 16px rgba(13, 76, 211, 0.16);
        cursor: pointer;
        h2 {
            color: #003cda;
        }
    }
    .post-image {
        grid-area: cover;
        overflow: hidden;
        max-height: 100%;
        img {
            max-width: 100%;

            min-height: 100%;
            object-fit: cover;
        }
    }

    .article-content {
        grid-area: content;
        font-family: $primary-font;
        font-style: normal;
        color: $primary-color;
        padding: 20px;
        .date {
            color: #8080c2;
        }
    }
}

.posts {
    &-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        @media screen and (max-width: 580px) {
            grid-template-columns: 1fr;
        }
        @media (min-width: 768px) and (max-width: 1023px) {
            grid-template-columns: repeat(2, 1fr);
            article:last-child:nth-child(even),
            .read-more & article:last-child:nth-child(odd) {
                grid-column-start: 1;
                grid-column-end: span 2;
                width: calc(100% / 2);
                margin: 0 auto;
            }
        }
        grid-column-gap: 30px;
        grid-row-gap: 50px;

        article {
            &.first-post {
                display: none;

                @media screen and (max-width: 580px) {
                    display: block;
                }
            }

            transition: 0.3s ease-in-out all;

            &:hover {
                box-shadow: 0px 8px 16px rgba(13, 76, 211, 0.16);
                cursor: pointer;
                h4 {
                    color: #003cda;
                }
            }

            .post-image {
                width: 100%;
                max-height: 180px;

                img {
                    width: 100%;

                    max-height: 180px;
                    min-height: 180px;
                    object-fit: cover;
                }
            }
            .article-content {
                font-family: $primary-font;
                font-style: normal;
                color: $primary-color;
                padding: 20px;

                .date {
                    color: #8080c2;
                }
            }
        }
    }
}

.pagination {
    ul {
        max-width: 450px;
        margin: 0 auto;
    }
}

.subscription {
    position: relative;
    overflow: hidden;
    .container {
        &::before {
            content: url(/images/icons/before-subscribe.svg);
            position: absolute;
            height: 47px;
            top: 0;
            bottom: 0;
            margin: auto;
            transform: rotateY(180deg);
            @media (min-width: 1110px) {
                left: calc((100% - 1110px) / 2 - 580px);
            }
            @media (max-width: 1109px) {
                left: calc(100% - 15px);
            }
        }
        &::after {
            content: url(/images/icons/before-subscribe.svg);
            position: absolute;
            height: 47px;
            top: 0;
            bottom: 0;
            margin: auto;
            @media (min-width: 1110px) {
                right: calc((100% - 1110px) / 2 - 580px);
            }
            @media (max-width: 1109px) {
                right: calc(100% - 15px);
            }
        }
    }

    .item-subscription {
        background: #dcebff;
        border: 2px solid $primary-color;
        box-sizing: border-box;

        @media (min-width: 992px) {
            padding: 70.5px 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-template-areas: "empty title title title title title title title button button button button";
            .title-grid {
                grid-area: title;
            }
            .button-grid {
                grid-area: button;
                justify-self: center;
                margin-right: 34px;
            }
        }
        @media (max-width: 991px) {
            padding: 30px 15px;
            text-align: center;
            h2 {
                margin-bottom: 20px;
            }
            button {
                margin: auto;
            }
        }
        @media (max-width: 579px) {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }

    .wrapper-subscription & {
        .container {
            &:before,
            &:after {
                background-color: #5b88ff;
            }
        }
    }
}
