section.first-post article {
    @media screen and (max-width: 580px) {
        display: none;
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "cover cover content";
        grid-column-gap: 30px;
    }
    margin-bottom: 70px;
    margin-top: 50px;

    transition: 0.3s ease-in-out all;

    &:hover {
        box-shadow: 0px 8px 16px rgba(13, 76, 211, 0.16);
        cursor: pointer;
        h2 {
            color: #003cda;
        }
    }
    .post-image {
        grid-area: cover;
        overflow: hidden;
        max-height: 375px;
        img {
            max-width: 100%;

            min-height: 100%;
            object-fit: cover;
        }
    }

    .article-content {
        grid-area: content;
        font-family: $primary-font;
        font-style: normal;
        color: $primary-color;
        padding: 20px;
        .date {
            color: #8080c2;
        }
    }
}

.posts {
    &-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        @media screen and (max-width: 580px) {
            grid-template-columns: 1fr;
        }
        grid-column-gap: 30px;
        grid-row-gap: 50px;

        article {
            &.first-post {
                display: none;

                @media screen and (max-width: 580px) {
                    display: block;
                }
            }

            transition: 0.3s ease-in-out all;

            &:hover {
                box-shadow: 0px 8px 16px rgba(13, 76, 211, 0.16);
                cursor: pointer;
                h4 {
                    color: #003cda;
                }
            }

            .post-image {
                width: 100%;
                max-height: 180px;

                img {
                    width: 100%;

                    max-height: 180px;
                    min-height: 180px;
                    object-fit: cover;
                }
            }
            .article-content {
                font-family: $primary-font;
                font-style: normal;
                color: $primary-color;
                padding: 20px;

                .date {
                    color: #8080c2;
                }
            }
        }
    }
}

.pagination {
    ul {
        max-width: 450px;
        margin: 0 auto;
    }
}

.subscription {
    position: relative;
    overflow: hidden;
    &::before {
        content: "";
        position: absolute;
        width: 50%;
        background: url(/images/tunnel-left.svg);
        height: 47px;
        left: -4px;
        z-index: -10;
        top: 50%;
        transform: translate(0, -50%);
    }
    &::after {
        content: "";
        position: absolute;
        width: 50%;
        background: url(/images/tunnel-right.svg);
        height: 47px;
        right: -4px;
        z-index: -10;
        top: 50%;
        transform: translate(0, -50%);
    }
    .subscription-wrapper {
        display: flex;
        justify-content: space-between;        
        background: #dcebff;
        border: 2px solid #000085;
        box-sizing: border-box;

        @media(min-width: 768px){
            padding: 75px 35px;
        }
        @media(max-width: 767px){
            padding: 30px;
        }
    }

 @media screen and (max-width: 579px) {
     .subscription-wrapper {
       flex-direction: column;
         align-items: center;
          text-align: center;
        }
    }
    .wrapper-subscription &{        
        &:before,
        &:after {
            background-color: #5b88ff;
        }
    }
}