footer {
    padding-top: 135px;
    padding-bottom: 25px;
    background: #00c0ab;

    font-family: $primary-font;
    color: $secondary-color;
    font-style: normal;

    .navigation {
        width: calc(100% / 3 * 2);

        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-areas: "empty network network product product company company empty-end";

        .network {
            grid-area: network;
        }
        .products {
            grid-area: product;
        }
        .company {
            grid-area: company;
        }
        ul {
            li {
                letter-spacing: 0.05em;
                text-transform: uppercase;

                margin-bottom: 20px;
                &:first-child {
                    color: white;
                    margin-bottom: 25px;
                }

                a {
                    &:hover {
                        color: #000085;
                    }
                }
            }
        }
    }
    .social-wrapper {
        width: calc(100% / 3 * 1);

        .disclaimer {
            color: #fff;
        }

        .social-icons {
            a {
                margin-right: 15px;
                &:hover {
                    > svg circle {
                        fill: #5b88ff;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 580px) {
        padding-top: 90px;

        > .container {
            flex-direction: column;
            .navigation {
                width: 100%;
                grid-template-columns: repeat(3, 1fr);
                grid-template-areas: "network product company";

                .network {
                    display: flex;

                    justify-content: center;
                    flex: 1;
                }
                .products {
                    display: flex;

                    justify-content: center;
                    flex: 1;
                }
                .company {
                    display: flex;

                    justify-content: center;
                    flex: 1;
                }
            }
            .social-wrapper {
                width: 100%;
                align-items: center;
                padding-top: 30px;
                .social-icons {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    a {
                        margin-right: 13px;
                        svg {
                            width: 40px;
                            height: 40px;
                        }
                    }
                }
            }
        }
    }
}
