$primary-color: #000085;
$secondary-color: #003cda;
$tertiary-color: #33dfcc;

$primary-bg: #000085;
$secondary-bg: #276bfb;
$tertiary-bg: #00c0ab;

$primary-border: #000085;
$secondary-border: #003cda;
$tertiary-border: #dcebff;
$white-border: #ffffff;

$light-primary-color: #dcebff;

$primary-font: "Muli", sans-serif;

$xs: 480px;
$sm: 576px;
$md: 768px;
$lg: 992px;
