$primary-color:  #000085;
$secondary-color: #003CDA;
$tertiary-color: #33DFCC;

$primary-bg:  #000085;
$secondary-bg: #276BFB;
$tertiary-bg: #00C0AB;

$primary-border: #000085;
$secondary-border: #003CDA;
$tertiary-border: #DCEBFF;
$white-border: #FFFFFF;


$light-primary-color: #DCEBFF;

$primary-font: 'Muli', sans-serif;