.bt-1{
    border-top: 1px solid;
}
.bt-2{
    border-top: 2px solid;
}
.bt-6{
    border-top: 6px solid;
}
.bt-20{
    border-top: 20px solid;
}
@media(max-width: 579px){
    .bt-sm-14{
        border-top: 14px solid;
    }
}
.bt-primary{
    border-color: $primary-border;
}
.bt-secondary{
    border-color: $secondary-border;
}
.bt-tertiary{
    border-color: $tertiary-border;
}
.bt-white{
    border-color: $white-border;
}