.button {
    font-family: $primary-font;
    border-radius: 4px;
    border: 1px solid $primary-color;
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    text-transform: uppercase;
    padding: 9px 0;
    letter-spacing: 0.05;
    transform-style: preserve-3d;
    transition: all 0.3s ease;
    &:hover {
        cursor: pointer;
    }
    &.button-primary {
        background-color: $light-primary-color;
        color: $secondary-color;
        &:hover {
            background-color: $secondary-color;
            color: #ffffff;
            transform: translateY(4px);
            &:after {
                content: "";
                position: absolute;
                width: 100%;
                height: 20px;
                background-color: #000085;
                border: 1px solid #000085;
                border-radius: 4px;
                transform: translateZ(-1px);
                top: -3.5px;
                transition: all 0.3s ease;
            }
        }
        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 20px;
            background-color: #5b88ff;
            border: 1px solid $primary-color;
            border-radius: 4px;
            transform: translateZ(-1px);
            bottom: -4.5px;
            transition: all 0.3s ease;
        }
    }
    &.button-secondary {
        background-color: #003cda;
        color: #fff;
        &:hover {
            background-color: #276BFB;
            color: #ffffff;
            transform: translateY(4px);
            &:after {
                content: "";
                position: absolute;
                width: 100%;
                height: 20px;
                background-color: #000085;
                border: 1px solid #000085;
                border-radius: 4px;
                transform: translateZ(-1px);
                top: -3.5px;
                transition: all 0.3s ease;
            }
        }
        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 20px;
            background-color: #000085;
            border: 1px solid $primary-color;
            border-radius: 4px;
            transform: translateZ(-1px);
            bottom: -4.5px;
            transition: all 0.3s ease;
        }
    }
    &.button-xl {
        max-width: 220px;
        min-width: 220px;
    }
    &.button-lg {
        max-width: 190px;
        min-width: 190px;
        @media (max-width: 579px) {
            font-size: 10px;
            max-width: 166px;
            min-width: 166px;
        }
        @media (max-width: 374px) {
            max-width: 140px;
            min-width: 140px;
        }
    }
    &.button-md {
        max-width: 160px;
        min-width: 160px;
        @media (max-width: 579px) {
            font-size: 10px;
            max-width: 140px;
            min-width: 140px;
        }
        @media (max-width: 374px) {
            max-width: 120px;
            min-width: 120px;
        }

    }
    &.button-sm {
        max-width: 138px;
        min-width: 138px;
    }
    &:hover {
        background-color: $secondary-color;
        color: #ffffff;
        transform: translateY(4px);
        &:after {
            bottom: auto;
            top: -2px;
            background-color: $secondary-color;
        }
    }
    &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 20px;
        background-color: #5b88ff;
        border: 1px solid $primary-color;
        border-radius: 4px;
        transform: translateZ(-1px);
        bottom: -4.5px;
        left: -1px;
    }
}
