.owl-carousel{
    position: relative;
    @media(min-width: 992px){
        width: 50%;
    } 
    @media(max-width: 991px){
        width: calc(50% - 30px);
    }     
    @media(max-width: 579px){
        width: 100%;
        margin-bottom: 30px;
        p{
            font-size: 11px;
        }
    }   
    .item{
        color: #FFFFFF;
        hr{            
            border: 1px solid #33DFCC;
            margin: 15px auto 18px auto;
            @media(min-width: 580px){
                max-width: 255px;
            }
            @media(max-width: 579px){
                max-width: 225px;
            }
        }
        .item-img{
            max-width: 445px;
            @media(max-width: 991px){
                width: 100%;
                margin: auto;
            }    
        }
        
    }
    .owl-dots{
        position: absolute;
        top: -25px;
        left: 0;
        button{
            width: 10px;
            height: 10px;
            background-color: $tertiary-color !important;
            border-radius: 50%;
            border: 1px solid $primary-color !important;
            margin-right: 6px;
            outline: none;
            &.active{
                background-color: $secondary-color !important;
            }
        }
    }
}
.before-carousel{
    @media(min-width: 1200px){
        &:before{
            content: url(/images/icons/before-carousel.svg);
            position: absolute;
            left: -130px;
            top: 45px;
        }
        &:after{
            content: url(/images/icons/after-carousel.svg);
            position: absolute;
            right: -120px;
            bottom: -105px;
            z-index: 2;
        }
    }
}