.circle{
    width: 8px;
    height: 8px;
    background-color: #FFFFFF;
    border: 1px solid $primary-color;
    border-radius: 50%;
    position: absolute;
    .container-coin &{
        background-color: $light-primary-color;
    }
    .after-team &{
        background-color: transparent;
        @media(max-width: 579px){
            width: 6px;
            height: 6px;
        }
    }
    &.top{
        top: 14px;
        .container-coin &{
            top: 31px;
            @media(max-width: 579px){
                .container-coin-dark &{  
                    top: 28px;
                }
            }
        }
        @media(max-width: 579px){
            .container-coin-dark &{  
                top: 17px;
            }
        }
        .after-team &{
            top: 6px;
            @media(max-width: 579px){
                top: 4px;
            }
        }
    }
    &.bottom{
        bottom: 14px;
        .container-coin &{
            bottom: 8px;
        }
        .after-team &{
            bottom: 6px;
        }
    }
    &.left{
        left: 14px;
        .container-coin &{
            left: 8px;
        }
        .after-team &{
            left: 6px;
            @media(max-width: 579px){
                left: 4px;
            }
        }
        
    }
    &.right{
        right: 14px;
        .container-coin &{
            right: 8px;
        }
        .after-team &{
            right: 6px;
        }
    }
}