.tooltipster-sidetip.tooltipster-customized {
    .tooltipster-box {
        background: $primary-color;
        border: 1px solid $primary-color;
        border-radius: 0;
        box-shadow: none;
    }
    .tooltipster-content {
        font-size: 12px;
        line-height: 160%;
        color: white;
        padding: 7px 10px;
    }

    .tooltipster-arrow {
        &-border {
            border-top-color: $primary-color;
        }

        &-background {
            border-top-color: $primary-color;
        }
    }
}
