.tooltip {
    background: #fff;
    padding: 30px;
    margin: 10px;
    max-width: 425px;
    
    min-width: 250px;
    .header {
        position: relative;

        .close {
            position: absolute;
            top: 0;
            right: 0%;
            &:hover{
                cursor: pointer;
                svg path {
                    fill: #33DFCC;
                }
            }
        }
    }
    .bio {
        color: #8080c2;
    }
}
