.d-flex{
    display: flex;
}
.f-wrap{
    flex-wrap: wrap;
}
.j-content-sb{
    justify-content: space-between;
}
.j-content-center{
    justify-content: center;
}
.a-items-center{
    align-items: center;
}