/* margin */
.m-0{
    margin: 0;
}
.mt-27{
    margin-top: 27px;
}
.mt-32{
    margin-top: 32px;
}
.mt-37{
    margin-top: 37px;
}
.mt-39{
    margin-top: 39px;
}
.mt-115{
    margin-top: 115px;
}
.mt-r-90{
    margin-top: -90px;
}
.mb-10{
    margin-bottom: 10px;
}
.mb-12{
    margin-bottom: 12px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-26{
    margin-bottom: 33px;
}
.mb-33{
    margin-bottom: 33px;
}
.mb-38{
    margin-bottom: 38px;
}
.mb-46{
    margin-bottom: 46px;
}
.mb-52{
    margin-bottom: 52px;
}
.mb-60{
    margin-bottom: 60px;
}
.mb-90{
    margin-bottom: 90px;
}

.m-auto{
    margin: auto;
}
.mx-15{
    margin: 0 15px;
}
.mx-auto{
    margin-left: auto;
    margin-right: auto;
}

/* padding */
.pt-55{
    padding-top: 60px;
}
.pt-40{
    padding-top: 40px;
}
.pt-60{
    padding-top: 60px;
}
.pt-140{
    padding-top: 140px;
}
.pb-20{
    padding-bottom: 20px;
}
.pb-40{
    padding-bottom: 40px;
}
.pb-80{
    padding-bottom: 80px;
}
.pb-420{
    padding-bottom: 420px;
}
.pb-445{
    padding-bottom: 445px;
}
.pb-485{
    padding-bottom: 485px;
}
.px-25{
    padding: 0 25px;
}
.px-50{
    padding: 0 50px;
}
.px-65{
    padding-left: 65px;
    padding-right: 65px;
}

.py-16{
    padding: 16px 0;
}