@import '_variables';
/* font-size */
.fs-12{
    font-size: 12px;
}
.fs-14{
    font-size: 14px;
}
.fs-20{
    font-size: 20px;
}
.fs-22{
    font-size: 22px;
}
.fs-24{
    font-size: 24px;
}
.fs-32{
    font-size: 32px;
}
.fs-46{
    font-size: 46px;
}

/* line-height */
.lh-120{
    line-height: 1.2;
}
.lh-140{
    line-height: 1.4;
}
.lh-150{
    line-height: 1.5;
}
.lh-160{
    line-height: 1.6;
}

/* font-weight */
.fw-700{
    font-weight: 700;
}
.fw-800{
    font-weight: 800;
}

/* color */
.color-primary{
    color: $primary-color;
}
.color-secondary{
    color: $secondary-color;
}
.color-tertiary{
    color: $tertiary-color;
}
.color-white{
    color: #FFFFFF;
}
@media(max-width: 579px){
    .fs-sm-10{
        font-size: 10px;
    }
    .fs-sm-13{
        font-size: 13px;
    }
    .fs-sm-18{
        font-size: 18px;
    }
    .fs-sm-20{
        font-size: 20px;
    }
    .fs-sm-24{
        font-size: 24px;
    }
    .fs-sm-32{
        font-size: 32px;
    }
    .lh-sm-120{
        line-height: 1.2;
    }
    .lh-sm-130{
        line-height: 1.3;
    }
    .lh-sm-150{
        line-height: 1.5;
    }
}